@model ProdavnicaZaKnigi.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @if (Model.AuthorId != null)
            {
                <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId"> @Html.DisplayFor(model => model.Author.FullName)</a>
            }
        </dd>
        <dt class="col-sm-2">
            Book Genres
        </dt>
        <dd class="col-sm-10">
            @foreach (var genre in Model.BookGenres)
            {
                <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreId">
                    @genre.Genre.GenreName
                </a>

                <br />
            }
        </dd>
       

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <div class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FrontPage)
            </dt>
            <dd class="col-sm-10" >
                @if (Model.FrontPage != null)
                {
                    if (Model.FrontPage.StartsWith("http"))
                    {
                        <div>
                            <img  class="slika" src="@Model.FrontPage" asp-append-version="true"  />
                        </div>
                    }
                    else
                    {
                        <div >
                            <img class="slika" src="~/@Model.FrontPage" asp-append-version="true"  />
                        </div>
                    }
                }
            </dd>
        </div>
        <dt class="col-sm-2">
            Reviews
        </dt>
        <dd class="col-sm-10">
            @if (Model.Reviews != null && Model.Reviews.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.AppUser</td>
                    <td>@review.Rating</td>
                    <td>@review.Comment</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No reviews yet.</p>
    }
</div>
        </dd>
       
        <div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                <a asp-controller="Users" asp-action="AddBookBought" asp-route-productid="@Model.Id">Buy this Book</a>
            }
        </div>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    } |
    <a asp-action="Index">Back to List</a>
</div>
