@model ProdavnicaZaKnigi.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <h2>Books:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year Published</th>
                    <th>Genres</th>
                    <th>Average Rating</th>
                    <th>Front Page</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.YearPublished</td>
                        <td>
                            @foreach (var genre in book.BookGenres)
                            {
                                <span>@genre.Genre.GenreName</span>
                                @if (genre != book.BookGenres.Last())
                                {
                                    <span>, </span>
                                }
                            }
                        </td>
                        <td>@book.AverageRating()</td>
                        <td><img src="@book.FrontPage" alt="Front Page" width="100"></td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
